<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Practice</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script>
		var app = angular.module('mainApp', []);
		app.controller('mainCtrl', function(){
			this.quantity = 10;
			this.cost = 5;
			this.currencies = ['USD', 'EUR', 'CNY'];
			this.intype = 'EUR';
			this.usd2other = {
				'USD': 1,
				'EUR': 0.74,
				'CNY': 6.59
			}
			
			this.convert = function(outtype){
				return this.quantity*this.cost * this.usd2other[outtype] / this.usd2other[this.intype];
			}
		});
	</script>
</head>
<body ng-app="mainApp" ng-controller="mainCtrl as main">
	<span>Quantity:</span><input type="number" placeholder="Quantity" ng-model="main.quantity"><br>
	<span>Cost:</span><input type="number" placeholder="Cost" ng-model="main.cost"><select ng-model="main.intype"><option ng-repeat="c in main.currencies">{{c}}</option></select><br>
	<hr>
	<b>Total:</b>
	<div ng-repeat="c in main.currencies">
		<span>{{main.convert(c) | currency:c}}</span><br>
	</div>
	<hr>
	<button ng-click="pay()">Pay</button>
</body>
</html>