<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>conceptual overview</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script src="invoice1.js"></script>
</head>
<body>
	<div ng-app="invoice1" ng-controller="InvoiceController">
	  <b>Invoice:</b>
	  <div>
	    Quantity: <input type="number" min="0" ng-model="qty" required >
	  </div>
	  <div>
	    Costs: <input type="number" min="0" ng-model="cost" required >
	    <select ng-model="inCurr">
	      <option ng-repeat="c in currencies">{{c}}</option>
	    </select>
	  </div>
	  <div>
	    <b>Total:</b><br>
	    <span ng-repeat="c in currencies">
	      {{total(c) | currency:c}}<br>
	    </span>
	    <button class="btn" ng-click="pay()">Pay</button>
	  </div>
	</div>

</body>
</html>