<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Practice</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script>
		var app = angular.module('mainApp', []);
		app.controller('mainCtrl', function(){
			this.age = '';
			this.name = "";	
			this.changeName = function(){
				this.name = "Mike";
				this.age = 83;
			}
		});
	</script>
</head>
<body ng-app="mainApp" ng-controller="mainCtrl as main">
	<input type="text" placeholder="Name" ng-model="main.name"> <input type="number" placeholder="Age" ng-model='main.age'><br>
	<p>Hi, <b>{{main.name}}</b>({{main.age}})</p>
	<button ng-click="main.changeName()">rename</button>

</body>
</html>